Django==5.2.12
aiogram==3.26.0
python-dotenv==1.2.2
loguru==0.7.3
psycopg2-binary==2.9.11
gunicorn==21.2.0
aiohttp==3.13.3
requests==2.32.3
geopy==2.4.1
timezonefinder==8.2.1
redis>=5.0.0
django-redis>=5.4.0
django-ninja==1.6.2
